$green: #4bffa5;
$darkBlue: #001730;
$LightGrey: #c6c4c5;
$lightBlue: #4ad7d1;
$white: #fff;
$grey: #777;
$danger: #fe4a49;
$purple: #e14eca;
$lightGreen: #2bffc6;
$blue: #026fdb;
$boxShadow: 0 2px 40px 0 rgba(81, 39, 159, 0.2);
